<div id="utils">
    <p class="conversion-method">Usando tasa promedio</p>

    <div class="currency-group">
        <p class="currency-value">$ 0.00</p>
        <p class="currency-label">Dólares</p>
    </div>

    <div id="conversion-separator">
        <div class="separator-line"></div>
        <div class="separator-icon">↔</div>
        <div class="separator-line"></div>
    </div>

    <div class="currency-group">
        <p class="currency-value">Bs 0.00</p>
        <p class="currency-label">Bolívares</p>
    </div>
</div>
<style is:inline >
    #utils{
        background-color: var(--bg-cards);
        padding: 10px 20px;
        .currency-group{
            .currency-value{
                font-size: 1.3rem;
                font-weight: 600;
            }
            .currency-label{
                opacity: .7;
            }
        }
        #conversion-separator{
            text-align: center;
            font-weight: 500;
            font-size: 1.3rem;
        }
    }
    
</style>